<div>
  <ion-button expand="block" (click)="openScanner()" [disabled]="!isSupported">Start
    Scan</ion-button>


  <ion-button (click)="openSettings()">
    <span class="close-button">Open Settings</span>
  </ion-button>

  <ion-button (click)="installGoogleBarcodeScannerModule()">
    <span class="close-button">Install Google Barcode Scanner
      Module</span>
  </ion-button>

  <ion-button (click)="requestPermissions()">
    <span class="close-button">Request Permissions</span>
  </ion-button>

</div>