<ion-header class="ion-no-border">
  <ion-toolbar color="translucent">
    <ion-buttons slot="end">
      <ion-button (click)="changeLanguge()">
        <ion-icon slot="icon-only" name="earth"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding login">
  <form [formGroup]="loginForm">
    <div class="login-wrapper">
      <img src="./../../../assets/images/freterium-logo-dark.png" class="login-wrapper-logo ion-margin-bottom" />
      <div class="tel-input">
        <ion-label>{{ 'mobile.login.phone_number' | translate }}</ion-label>
        <ngx-intl-tel-input formControlName="login" [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true"
          [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
          [selectedCountryISO]="defaultCountryiso" [maxLength]="15" [phoneValidation]="true"></ngx-intl-tel-input>
      </div>
      <ion-label position="undefined">{{ 'mobile.login.password' | translate }}</ion-label>
      <ion-item>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <div class="ion-margin-top ion-text-center">
        <ion-button class="ion-margins-top" color="primary" shape="round" [disabled]="loginForm.invalid || isPending"
          (click)="login()">
          {{ 'mobile.login.login' | translate }}
        </ion-button>
        <!-- <div tappable class="login-wrapper-end-text" (click)="forgotPassword()" >{{ 'mobile.login.forgotPassword' | translate }}</div> -->
        <h6 *ngIf="versionNumber" class="version">
          {{ 'mobile.login.version' | translate }} : {{versionNumber}}
        </h6>
      </div>
    </div>
  </form>

  <div class="login-background-image"></div>
</ion-content>